/* HOLA SOY LA BRANCH FLEXIBOX */

* {
  padding: 0;
  margin: 0;
}


header {
  *padding-bottom: 10px;
  min-width: 100%;
  position: fixed;
  z-index: 5;
}

.encabezadoAbout {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(27, 27, 27);
  box-shadow: 0px 7px 10px -4px rgba(255, 255, 255, 0.6);
  width: 100%;
  opacity: 90%;
  min-height: 90px;
  transition: background-color 0.2s ease-in-out 0.02s;
}

.encabezadoHome {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0px 7px 10px -4px rgba(0, 0, 0, 0.6);
  width: 100%;
  opacity: 90%;
  min-height: 90px;
  transition: background-color 0.2s ease-in-out 0.02s;
}

/* .encabezado {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0px 7px 10px -4px rgba(0, 0, 0, 0.6);
  width: 100%;
  opacity: 90%;
  *height: 10px;
  
} */

nav {
  width: 400px;
}

ul {
  display: flex;
  flex-wrap: wrap column;
  justify-content: space-around;
  list-style: none;
  max-width: 100%;
}

.boton-nav_about {
  text-decoration: none;
  font-size: 40px;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  margin: 0px;
  font-family: arial;
  transition: all 0.2s ease-in-out 0.02s;
}
.boton-nav_home {
  text-decoration: none;
  font-size: 40px;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  margin: 0px;
  font-family: arial;
  transition: all 0.2s ease-in-out 0.02s;
}

.boton-nav_about:hover {
  color: rgb(199, 169, 114);
}
.boton-nav_home:hover {
  color: rgb(199, 169, 114);
}

.tituloAbout {
  margin-top: 0.5rem;
  margin-left: 1rem;
  letter-spacing: 1rem;
  font-size: 5vh;
  font-family: "Courier New", Courier, monospace;
  color: rgb(255, 255, 255);
  transition: all 0.2s ease-in-out 0.02s;
}

.tituloHome {
  margin-top: 0.5rem;
  margin-left: 1rem;
  letter-spacing: 1rem;
  font-size: 5vh;
  font-family: "Courier New", Courier, monospace;

  color: #ffffff;

  text-shadow: 0 -1px 4px rgb(54, 54, 54), 0 -2px 10px rgb(156, 69, 69),
    0 -10px 20px #ff8000, 0 -18px 40px rgba(100, 34, 34, 0.651);
  color: #ffffff;

  transition: all 0.2s ease-in-out 0.02s;
}

/* .titulo {
  margin-top: 0.5rem;
  margin-left: 1rem;
  letter-spacing: 1rem;
  font-size: 5vh;
  font-family: "Courier New", Courier, monospace;

  color: #ffffff;

  text-shadow: 0 -1px 4px rgb(54, 54, 54), 0 -2px 10px rgb(156, 69, 69),
    0 -10px 20px #ff8000, 0 -18px 40px rgba(100, 34, 34, 0.651);
  color: #ffffff;
  
} */
.tituloAbout:hover {
  *color: rgb(0, 0, 0);
}
.tituloHome:hover {
  *color: rgb(0, 0, 0);
}

.subtituloAbout {
  opacity: 100%;
  margin-left: 0.7em;
  letter-spacing: 0.2em;
  font-family: arial;
  font-size: 23px;
  color: white;
  transition: all 0.2s ease-in-out 0.02s;
}

.subtituloHome {
  opacity: 100%;
  margin-left: 0.7em;
  letter-spacing: 0.2em;
  font-family: arial;
  font-size: 23px;
  color: black;
  transition: all 0.2s ease-in-out 0.02s;
}

/* .subtitulo {
  opacity: 100%;
  margin-left: 0.7em;
  letter-spacing: 0.2em;
  font-family: arial;
  font-size: 23px;
} */

.pantalla-splash {
  min-height: 100vh;
  background-image: url(img/test-fondo.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap column;
}

.contenedor-splash {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  margin: auto;
  width: 60%;
  min-height: 80vh;
}
.contenedor-splash a {
  text-decoration: none;
  color: black;
}
.flex-items_splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  background-color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 30px;
  box-shadow: -8px 3px 15px 2px rgba(0, 0, 0, 0.8);
  text-align: center;
  transition: box-shadow 0.2s ease-in-out 0.02s;
}
.flex-items_splash:hover {
  *opacity: 90%;
  box-shadow: 0px 0px 100px 100px rgba(0, 0, 0, 0.8);
  transition: box-shadow 0.2s ease-in-out 0.02s;
}
.titulo_items-splash {
  *margin-top: 10px;
  width: 80%;
  font-size: 22px;
}

.pantalla-miro {
  background: rgb(91, 88, 133);
  background: linear-gradient(
    90deg,
    rgba(91, 88, 133, 1) 16%,
    rgba(156, 186, 162, 1) 55%,
    rgba(204, 201, 201, 1) 97%
  );
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.miro {
  width: 70%;
  height: 80vh;
  margin-top: 80px;
}

.relleno {
  height: 90px;
  width: 100%;
}
.pantalla-about {
  background-color: rgb(0, 0, 0);
  min-width: 100%;
  min-height: 100vh;
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedor_texto-about {
  width: 70%;
  text-align: center;
}

.titulo-about {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 40px;
}

.subtitulo-about {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 30px;
}
.texto-about {
  color: aliceblue;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 25px;
}
.pantalla-contacto {
  background-color: rgb(158, 60, 60);
  background-image: url(img/memoria-magnetica.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-width: 100%;
  min-height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.etiqueta-contacto {
  width: 30%;
  height: 100px;
  background-color: white;
  border: solid 3px black;
}

footer {
  min-width: 100%;
  min-height: 10vh;
  background-color: rgb(0, 0, 0);
  display: flex;
}
footer p {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-seriff;
  font-size: 13px;
}

footer div {
  width: 50%;
}


@media only screen and (max-device-width: 700px) {
  ul {
    width: 100%;
    margin: 0px;
    justify-content: space-around;
    margin-top:10px;
  }
  .contenedor-splash {
    width: 90%;
    align-content: center;
  }
  .flex-items_splash {
    width: 90%;
    height: 120px;
    margin: 5px;
  }
  .tituloAbout, .tituloHome {
  font-size: 35px;
  margin:0px;  
}

  .subtituloAbout, .subtituloHome {
    font-size: 15px;

  margin:0px;
  }
  .encabezadoAbout, .encabezadoHome {
    width: 100%;
    justify-content: center;
    min-height: 80px;
  }
  .encabezado_tit_subtit {
    text-align: center;
  }

  .boton-nav_about, .boton-nav_home{
   
    font-size:30px;
  }




  .contenedor_texto-about {
    width: 90%;
  }
  .titulo-about {
    font-size: 30px;
    margin-top: 70px;
  }

  .subtitulo-about {
    font-size: 20px;
  }
  .texto-about {
    font-size: 15px;
    margin-bottom: 20px;
  }
  footer p {
    font-size: 10px;
  }
  nav ul a {
    margin: 0px;
    font-size: 30px;
  }
}
